{% extends 'base.html' %}
{% block content %}
    <div class="row">
    <div class="col-2"></div>
    <div class="col-9">
    <p></p>
    <a href="{{ url_for('user.add_recipe') }}"><button class="btn btn-outline-success" type="button">Добавить рецепт</button></a>
    <p></p>
    {% for row in range(0, my_recipes|length, 3) %}
        <div class="row">
            {% for col in range(row, row+3) %}
            {% if col < my_recipes|length %}
                <div class="col-4">
                    <div class="card" style="width: 18rem; height: 30rem;">
                        <a href="{{ url_for('user.show_recipe', recipe_id=my_recipes[col].id) }}">
                        <img src="{{my_recipes[col].image}}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ my_recipes[col].title }}</p>
                            <p>
                            <ul>
                                {% for r in my_recipes[col].ingredients.split('\n')[:5] %}
                                <li>
                                    {{ r }}
                                </li>
                                {% endfor %}
                            </ul>
                            <a href="{{ url_for('user.show_recipe', recipe_id=my_recipes[col].id) }}"><button type="button" class="btn btn-success" name="submit_button">Далее</button></a>
                            {% if my_recipes[col].id|string in current_user.wishlist.split(';') %}
                                <a href="{{ url_for('user.remove_from_fav', recipe_id=my_recipes[col].id) }}"><img src="./static/images/fav.png" width=30 height=30></a>
                            {% else %}
                                <a href="{{ url_for('user.add_to_fav', recipe_id=my_recipes[col].id) }}"><img src="./static/images/no_fav.png" width=30 height=30></a>
                            {% endif %}
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        <p></p>
    {% endfor %}
</div>
</div>
{% endblock %}
